.pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 32px 0;
}

.pokemon {
  cursor: pointer;
  padding: 8px;
  width: 300px;
}

.image {
  height: 100%;
  width: 100%;
}
