:root {
  --backgroundPrimary: #000;
  --backgroundSecondary: #2c2c2c;
  --backgroundMainImage: #999;
  --textPrimary: #fff;
  --textSecondary: #ddd;
  --primary: #30dafb;
  --secondary: #e10099;
  --negative: #c33;
  --positive: #3c3;

  --maxPageWidth: 1600px;
}
